@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@font-face {
  font-family: 'DeterminationMono';
  src: url('fonts/determination-mono-webfont.woff2') format('woff2'),
    url('fonts/determination-mono-webfont.woff') format('woff'),
    url('fonts/determination-mono-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '8bit';
  src: url('fonts/8bitOperatorPlus8-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 1);
  background-image: url("images/fantasy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none; 
}
#video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-attachment: fixed;
}



.navbar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 10;
}


.navbar * {
  position: relative;
  z-index: 11;
  color: black;
  font-family: "Outfit", swap;
}

.navbar-nav .nav-item {
  margin: 0 30px;
}

.navbar-nav .nav-item .nav-link {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.navbar-nav .nav-item .nav-link.active {
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.315);
  border-radius: 10px;
}


.lore>img{
    height: 300px;
    margin-left: 35%;
    animation: fadeIn 0.9s ease-in forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.content>.main{
    font-family: "8bit";
    font: 600;
    color: white;
    font-size: 40px;
    text-align: center;
}
.content>p{
    color: white;
    margin: 10px;
    text-align: justify;
    font-family: "8bit";
}
.content{
      animation: fadeIn 0.9s ease-in forwards;
}

